<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="carrinho.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <header>
        <div id="container">
            <h2><a href="../views/index.jsp" class="titulo">NGS BY SENACX</a> -|-</h2>
    </header>

    <div class="container">
        <h1>Carrinho de Compras</h1>
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Total</th>
                    <th>Limpar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="Creapure-creatina-creapure -150g.webp" alt="Creatina"></td>

                    <td>
                        <button class="diminuir">-</button>0<button class="aumentar">+</button>
                    </td>

                    <td>R$ 00,00</td>

                    <td>R$ 00,00</td>

                    <td>
                    <button class="limpar">
                        <img src="delete_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png" alt="Lixeira">
                    </button>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="total">
            <h2>Total: R$ 00,00</h2>
        </div>
        <button class="finalize">Finalizar Compra</button>
    </div>

    <footer>$copy 2024 NGS BY SENACX. Todos os direito reservados.</footer>

</body>
</html>
